---
import MainLayouts from "../layouts/MainLayout.astro";
---

<MainLayouts title="About">
  <h1>About</h1>
  <h2>This is the about page</h2>
</MainLayouts>

<style>
  h1 {
    color: red;
    font-size: 2rem;
  }
</style>
