---

---

<div
  class="xl:pt-[104px] lg:pt-[80px] pt-[56px] md:pb-[100px] pb-[32px] mx-auto px-[32px]"
>
  <h1
    class="uppercase text-center lg:mb-[80px] mb-[50px] text-rosa lg:text-[56px] md:text-[40px] text-[32px]"
  >
    tus favoritos, Nuestra carta
  </h1>
  <div
    class="md:grid md:grid-cols-6 md:grid-rows-6 gap-5 max-w-[1700px] mx-auto flex flex-col"
  >
    <div class="col-span-2
    row-span-6
    md:h-auto
    h-[180px]
    relative">
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-35">
      </div>
      <img src="/imagen1.webp" alt="carta" class="w-full h-full object-cover" />
      <p
        class="text-white uppercase lg:text-[40px] text-[26px] absolute text-center underline top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      >
        carta
      </p>
    </div>
    <div
      class="col-span-2 row-span-3 col-start-3 relative md:h-auto
    h-[180px]"
    >
      <img src="/imagen2.webp" alt="carta" class="w-full h-full object-cover" />
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-35">
      </div>
      <p
        class="text-white uppercase lg:text-[40px] text-[26px] absolute text-center underline top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      >
        postres
      </p>
    </div>
    <div
      class="col-span-2 row-span-3 col-start-3 relative row-start-4 md:h-auto
    h-[180px]"
    >
      <img src="/imagen3.webp" alt="carta" class="w-full h-full object-cover" />
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-35">
      </div>
      <p
        class="text-white uppercase lg:text-[40px] text-[26px] absolute text-center underline top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      >
        el bar
      </p>
    </div>
    <div
      class="col-span-2 row-span-3 col-start-5 relative row-start-1 md:h-auto
    h-[180px]"
    >
      <img src="/imagen4.webp" alt="carta" class="w-full h-full object-cover" />
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-35">
      </div>
      <p
        class="text-white uppercase lg:text-[40px] text-[26px] absolute text-center underline top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      >
        desayunos
      </p>
    </div>
    <div
      class="col-span-2 row-span-3 col-start-5 relative row-start-4 md:h-auto
    h-[180px]"
    >
      <img src="/imagen5.webp" alt="carta" class="w-full h-full object-cover" />
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-35">
      </div>
      <p
        class="text-white uppercase lg:text-[40px] text-[26px] absolute text-center underline top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
      >
        para compartir
      </p>
    </div>
  </div>
</div>
