---

---

<footer class="bg-[#D71539] text-[#EFE7D4] probando:p-8 p-0">
  <div class="mx-auto border-[1px] border-[#EFE7D4] py-8 rounded-md">
    <div
      class="flex justify-between items-center px-8 pb-8 mb-8 border-b-[1px] border-[#EFE7D4] probando:flex-row flex-col"
    >
      <div class="mb-4 probando:mb-0">
        <img src="/logo-footer.svg" alt="logo" class="h-10" />
      </div>
      <div class="flex items-center">
        <span class="mr-2">Síguenos en:</span>
        <a href="#" class="mx-1">
          <img src="/facebook.svg" alt="facebook" />
        </a>
        <a href="#" class="mx-1">
          <img src="/instagram.svg" alt="instagram" />
        </a>
        <a href="#" class="py-2 px-[9px] bg-[#EFE7D4] rounded-full mx-1">
          <img class="h-4" src="tiktok.svg" alt="tiktok" />
        </a>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8">
      <div>
        <h3 class="text-lg font-semibold mb-4">SOBRE NOSOTROS</h3>
        <p class="text-sm">
          Lorem ipsum es simplemente el texto de relleno de las imprentas y
          archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
          las industrias desde el año 1500, cuando un impresor (N. del T.
          persona que se dedica a la imprenta) desconocido usó una galería de
          textos y los mezcló de tal manera que logró hacer un libro de textos
          especimen.
        </p>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">NAVEGACIÓN</h3>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">La carta</a></li>
          <li>
            <a href="#" class="hover:underline">Pedir por delivery</a>
          </li>
          <li><a href="#" class="hover:underline">Locales</a></li>
          <li>
            <a href="#" class="hover:underline">Trabaja con nosotros</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">AYUDA Y LEGALES</h3>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">Contáctanos</a></li>
          <li>
            <a href="#" class="hover:underline">Política de Privacidad</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Políticas de cookies</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Políticas de videovigilancia</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Términos y condiciones de uso</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div
      class="mt-8 pt-4 px-8 border-t border-[#EFE7D4] flex justify-between items-center text-sm probando:flex-row flex-col"
    >
      <p class="mb-2 [500]:mb-0">© 2024 All rights reserved Aventura Coffee</p>
      <p>
        Desarrollado con <span class="text-[#EFE7D4] heartbeat">♥</span> por SKILLIEN
      </p>
    </div>
  </div>
</footer>

<style>
  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    25%,
    75% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.4);
    }
  }
  .heartbeat {
    display: inline-block;
    animation: heartbeat 1s ease-in-out infinite;
  }
</style>
