---

---

<div class="flex justify-between px-4 sm:px-8 bg-transparent">
  <a href="/">
    <img src="/aventura.png" alt="logo" class="w-[100px] mt-[10px] mb-[18px]" />
  </a>
  <div
    class="border-solid border-2 border-rosa items-center flex mt-[18px] mb-[18px]"
  >
    <a
      class="text-rosa h-full text-base uppercase px-5 py-[10px] md:border-r-[1px] md:border-rosa hover:bg-[#fda000]"
      href="#">La Carta</a
    >
    <a
      class="text-white bg-rosa text-base hidden xs:flex uppercase px-5 py-[10px] h-full items-center hover:bg-[#fda000] hover:text-rosa"
      href="#">Contáctanos</a
    >
  </div>
</div>
